Repository UB-ES-2020-Mooving/Mooving, pull requests merged in 2020-12, with the labels that each got.

#158 [US15.0]-[T2] Backend: Json
  flaskProject/app.py
  flaskProject/resources/reserved_start.py
Labels: backend

#151 US15.1T1.1_Frontend_CancelReservationMoto_View
  frontend/src/components/clientMoto.vue
Labels: frontend

#159 Us15 t1 reservation a pi call
  frontend/src/components/MotosClient.vue
  frontend/src/components/clientMoto.vue
Labels: frontend

#163 Us15.1 t2 backend cancel reservation
  flaskProject/app.py
  flaskProject/resources/reserved_start.py
  flaskProject/tests/tests_auto/test_cancel_moto_reservation.py
Labels: TEST, backend

#168 Style:Deleted bar with moto and smoke
  frontend/src/components/MotosClient.vue
Labels: bug, frontend

#166 US15.1T1.2_Frontend_CancelReservationMoto_API
  frontend/src/components/clientMoto.vue
Labels: frontend

#169 US15.0T2.4_BackendMotoReserveTest
  flaskProject/add_data.py
  flaskProject/add_data_tests.py
  flaskProject/tests/tests_auto/config_tests.py
  flaskProject/tests/tests_auto/test_ejemplo.py
  flaskProject/tests/tests_auto/test_moto_reserve.py
  flaskProject/tests/tests_auto/test_start_moto.py
Labels: backend

#203 TD7T1_KMToMayus
  frontend/src/components/MechanicMoto.vue
Labels: frontend

#214 Feat: Add delete account action for client
  frontend/src/components/ConfirmDeleteAccountDialog.vue
  frontend/src/components/Profile.vue
  frontend/src/router/index.js
  frontend/tests/unit/deleteAccount.spec.js
Labels: frontend

#205 TD1T1 Modify image motorbikes
  frontend/src/components/MechanicMoto.vue
  frontend/src/components/clientMoto.vue
Labels: frontend

#215 Style: Add a danger button to Stop the motorbike
  frontend/src/components/clientMoto.vue
Labels: frontend

#221 Us3 t1 add new motos
  frontend/src/components/AddMotoForm.vue
  frontend/src/components/MotosMechanic.vue
  frontend/src/router/index.js
Labels: frontend

#219 Feat: Add button to notify error on a motorbike
  frontend/src/components/clientMoto.vue
Labels: frontend

#223 Us13 t1 map
  create_frontend.sh
  frontend/src/components/GoogleMapLoader.vue
  frontend/src/components/Images/blue-dot.png
  frontend/src/components/Images/green-dot.png
  frontend/src/components/Images/orange-dot.png
  frontend/src/components/Images/purple-dot.png
  frontend/src/components/MotoMap.vue
  frontend/src/components/MotosClient.vue
  frontend/src/main.js
  frontend/src/router/index.js
Labels: frontend

#231 Feat: add nav bar in moto info page
  frontend/src/components/clientMoto.vue
Labels: frontend

#233 Feat-Style: center nav bar in profile + add Map item in nav bar
  frontend/src/components/Profile.vue
Labels: frontend, hotFix

#230 Feat: Add modify personal information for client
  frontend/src/components/ModifyAccountForm.vue
  frontend/src/components/Profile.vue
  frontend/src/router/index.js
Labels: frontend

#237 Us12 t3 test personal information
  frontend/src/components/Profile.vue
  frontend/tests/unit/profile.spec.js
Labels: frontend

#229 [US21][T2] Delete Account
  flaskProject/add_data_tests.py
  flaskProject/app.py
  flaskProject/resources/client.py
  flaskProject/tests/tests_auto/test_client_delete.py
Labels: backend

#238 Us32 t2 delete moto backend
  flaskProject/resources/motos.py
  flaskProject/tests/tests_auto/test_DeleteMoto.py
Labels: backend

#234 Fix: Clean database before each test
  flaskProject/data_tests.py
  flaskProject/tests/tests_auto/config_tests.py
  flaskProject/tests/tests_auto/test_ejemplo.py
Labels: QA

#241 Us3 t4 add new motos
  frontend/src/components/AddMotoForm.vue
  frontend/src/components/MotosMechanic.vue
Labels: frontend

#246 Style: buttons Delete and Modify in a row
  frontend/src/components/MechanicMoto.vue
Labels: frontend, hotFix

#244 [US13][T2] Map
  flaskProject/add_data.py
  flaskProject/app.py
  flaskProject/models/moto_model.py
  flaskProject/resources/motos.py
  flaskProject/tests/tests_auto/test_MotoInfoClient.py
  flaskProject/tests/tests_auto/test_client_moto_filter.py
Labels: backend

#248 Us13 t4 map
  frontend/src/components/GoogleMapLoader.vue
  frontend/src/components/MotosClient.vue
  frontend/src/components/clientMoto.vue
Labels: frontend

#254 [US19][T2] Notify_Error_Moto
  flaskProject/app.py
  flaskProject/models/constantes.py
  flaskProject/models/moto_model.py
  flaskProject/models/reserved_running_model.py
  flaskProject/resources/moto_error.py
  flaskProject/tests/tests_auto/test_error_notify.py
Labels: backend

#253 [US34][T2] Modify_Personal_Info
  flaskProject/add_data.py
  flaskProject/models/client_model.py
  flaskProject/resources/client.py
  flaskProject/tests/tests_auto/test_profile_modify.py
Labels: backend

#250 Feat: Add API Delete call to the button
  frontend/src/components/ConfirmDeleteAccountDialog.vue
Labels: frontend

#257 Add API POST call to notify error
  frontend/src/components/clientMoto.vue
Labels: frontend

#255 Us18 t5 client stops the modo backend fix
  flaskProject/models/moto_model.py
  flaskProject/resources/reserved_start.py
Labels: backend

#258 Feat: Add API PUT call to modify the client
  frontend/src/components/ModifyAccountForm.vue
Labels: frontend

#259 Fix: Change length of street in DB
  .travis.yml
  flaskProject/add_data.py
  flaskProject/models/moto_model.py
Labels: backend

#260 Refactor: change tests names
  flaskProject/tests/tests_endpoints/config_tests.py
  flaskProject/tests/tests_endpoints/test_clientMoto_get.py
  flaskProject/tests/tests_endpoints/test_client_delete.py
  flaskProject/tests/tests_endpoints/test_clients_get.py
  flaskProject/tests/tests_endpoints/test_clients_post.py
  flaskProject/tests/tests_endpoints/test_mechanicMoto_get.py
  flaskProject/tests/tests_endpoints/test_moto_delete.py
  flaskProject/tests/tests_endpoints/test_moto_post.py
  flaskProject/tests/tests_endpoints/test_moto_put.py
  flaskProject/tests/tests_endpoints/test_motos_get.py
  flaskProject/tests/tests_endpoints/test_notifyError_post.py
  flaskProject/tests/tests_endpoints/test_profile_get.py
  flaskProject/tests/tests_endpoints/test_profile_put.py
  flaskProject/tests/tests_endpoints/test_reserve_delete.py
  flaskProject/tests/tests_endpoints/test_reserve_post.py
  flaskProject/tests/tests_endpoints/test_start_post.py
  flaskProject/tests/tests_endpoints/test_start_put.py
  flaskProject/tests/tests_secondaries/test_motos.py
  test_backend.sh
Labels: backend

#262 Fix: Change DB variable name
  .travis.yml
  flaskProject/server_create_db.sh
  flaskProject/tests/__pycache__/test_MotoListClientFilter.cpython-38-pytest-6.1.1.pyc
Labels: devOps

#265 Td2 t2 create db travis
  .travis.yml
  test_backend.sh
Labels: devOps
